<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
        <h2 class="text-center text-dark mt-5">User Details</h2>
        <h2 th:text="'Role: ' + ${userDetails.role}"></h2>
        <h2 th:text="'User: ' + ${userDetails.userName}"></h2>
        <h2 th:text="'Password: ' + ${userDetails.password}"></h2>
        <h2 th:text="'First Name: ' + ${userDetails.firstName}"></h2>
        <h2 th:text="'Last Name: ' + ${userDetails.lastName}"></h2>
        <h2 th:text="'Image URL: ' + ${userDetails.imageUrl}"></h2>
        <h2 th:text="'Created: ' + ${userDetails.created}"></h2>
        <h4><a class="btn btn-danger align-bottom"
               th:href="@{/users/user-delete/{user-name}(user-name=${userDetails.userName})}">Delete
          User</a></h4>
      </div>
    </div>
  </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>