<nav class="navbar navbar-expand-lg bg-light justify-content-center" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="navbar" id="navbarNavAltMarkup">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/">AutoLife</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                <a class="nav-item nav-link text-dark" href="/brands/add">Add Brand</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                <a class="nav-item nav-link text-dark" href="/models/add">Add Model</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                <a class="nav-item nav-link text-dark" href="/offers/add">Add Offer</a>
            </li>
<!--            <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">-->
<!--                <a class="nav-item nav-link text-dark" href="/users/add">Add User</a>-->
<!--            </li>-->
<!--            <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">-->
<!--                <a class="nav-item nav-link text-dark" href="/usersRole/add">Add User Role</a>-->
<!--            </li>-->
            <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                <a class="nav-item nav-link text-dark" href="/brands/brand/all">All Brands</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                <a class="nav-item nav-link text-dark" href="/models/model/all">All Models</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/offers/offer/all">OUR OFFERS</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                <a class="nav-item nav-link text-dark" href="/users/user/all">All Users</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                <a class="nav-item nav-link text-dark" href="/usersRole/userRole/all">All User Roles</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-item nav-link text-dark text-info" href="/users/profile"><th:block sec:authentication="name"></th:block></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form
                        th:method="post"
                        th:action="@{/users/logout}">
                    <input class="btn btn-link nav-link" type="submit" value="Logout">
                </form>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-item nav-link text-dark" th:href="@{/users/register}">Register</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-item nav-link text-dark" th:href="@{/users/login}">Login</a>
            </li>
        </ul>
    </div>
</nav>
