<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="jumbotron col-md-8 mt-5">
        <h2 class="text-center text-dark mb-4">All Brands</h2>
        <div class="row">
          <div th:each="b : ${brandInfos}" class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body text-center">
                <h2 th:text="${b.name}" class="card-title"></h2>
                <a class="btn btn-block btn-primary" sec:authorize="hasAnyRole('ADMIN')" th:href="@{/brands/brand-details/{brand-name}(brand-name=${b.name})}">Detail info</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>
