<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <main class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>Employee Details</h1>
                </div>
                <div class="row bg-light rounded">
                    <div class="col-md-6">
                        <h2>Employee</h2>
                        <h4 th:text="'First Name: ' + ${employeeDetails.firstName}"></h4>
                        <h4 th:text="'Last Name: ' + ${employeeDetails.lastName}"></h4>
                        <h4 th:text="'Education Level: ' + ${employeeDetails.educationLevel}"></h4>
                        <h4 th:text="'First Name: ' + ${employeeDetails.jobTitle}"></h4>
                        <h4 th:text="'Birth Date: ' + ${employeeDetails.birthDate}"></h4>
                        <h4 th:text="'Salary: ' + ${employeeDetails.salary} + '$'"></h4>
                        <h4 th:text="'Company: ' + ${employeeDetails.companyName}"></h4>
                        <div class="align-bottom">
                            <a class="btn btn-danger align-bottom"
                               th:href="@{/employees/employee-delete{employee-full-name}(employee-full-name=${employeeDetails.firstName} + ' ' + ${employeeDetails.lastName})}">Delete
                                employee</a>
                        </div>
                    </div>
                    <div class="col-md-6"><img src="/pic/employee.png" height="350px"></div>
                </div>
            </main>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>