<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <main class="col-md-8 mt-5">
        <div class="card mb-3">
          <div class="card-body">
            <h1 class="card-title text-center">Model Details</h1>
            <div class="row bg-light rounded">
              <div class="col-md-6">
                <h2>Model</h2>
                <h4 th:text="'Brand: ' + ${modelDetails.brand}"></h4>
                <h4 th:text="'Name: ' + ${modelDetails.name}"></h4>
                <h4 th:text="'Category: ' + ${modelDetails.categoryEnum}"></h4>
                <h4 th:text="'Start year: ' + ${modelDetails.startYear}"></h4>
                <h4 th:text="'End year: ' + ${modelDetails.endYear}"></h4>
                <h4 th:text="'Created: ' + ${modelDetails.created}"></h4>
                <div th:if="${modelDetails.modified != null}">
                  <h4 th:text="'Modified: ' + ${modelDetails.modified}"></h4>
                </div>
                <div class="d-flex justify-content-between mt-3">
                  <a class="btn btn-danger" sec:authorize="hasAnyRole('ADMIN')" th:href="@{/models/model-delete/{model-name}(model-name=${modelDetails.name})}">Delete Model</a>
                  <a class="btn btn-warning" sec:authorize="hasAnyRole('ADMIN')" th:href="@{/models/model-edit/{model-name}(model-name=${modelDetails.name})}">Edit Model</a>
                </div>
              </div>
              <div class="col-md-6 mt-1">
                <img th:src="${modelDetails.imageURL}" class="img-fluid rounded" alt="Model Image">
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <h2 class="card-title">Brand</h2>
            <table class="table">
              <thead>
              <tr th:each="b : ${brandList}">
                <th scope="col">Brand</th>
                <th scope="col">Created</th>
                <th th:if="${b.modified != null}" scope="col">Modified</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="brand : ${brandList}">
                <td th:text="${brand.name}"></td>
                <td th:text="${brand.created}"></td>
                <td th:if="${brand.modified != null}" th:text="${brand.modified}"></td>
                <td th:unless="${brand.modified != null}" style="visibility: hidden;"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </main>
    </div>
  </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>
