<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head"></head>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <main class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
        <div class="justify-content-center">
          <h1>Profile</h1>
        </div>
        <div class="row bg-light rounded">
          <div class="col-md-6" th:object="${user}">
            <h2>User</h2>
            <h4 th:text="'First Name: ' + *{firstName}"></h4>
            <h4 th:text="'Last Name: ' + *{lastName}"></h4>
            <h4 th:text="'UserName: ' + *{userName}"></h4>
            <h4 th:text="'Age: ' + *{age}"></h4>
            <b>User Roles: </b>
            <div sec:authentication="principal.authorities"></div>
          </div>
          <div class="col-md-6"><img src="/pic/employee.png" height="350px"></div>
        </div>
      </main>
    </div>
  </div>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>