<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<div class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
        <div class="justify-content-center">
          <h1>Add User Role</h1>
        </div>
        <form th:action="@{/usersRole/userRole/create}"
              th:method="post"
              th:object="${userRoleModel}"
              class="m-md-auto w-50 pb-3">
          <div class="mb-3">
            <label class="form-label" for="roleEnum">User role</label>
            <input th:field="*{roleEnum}"
                   th:errorclass="is-invalid"
                   type="text" class="form-control text-center"
                   id="roleEnum" aria-describedby="roleEnum" name="roleEnum"/>
            <small th:if="${#fields.hasErrors('roleEnum')}" th:errors="*{roleEnum}" class="text-danger">Error
              message</small>
          </div>
          <button type="submit" class="btn btn-secondary">Add User Role</button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
<footer th:replace="fragments/footer"/>
</html>